
main {
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* class */
.card {
    text-align: center;
    min-width: 300px;
    max-width: 350px;
    width: fit-content;
    padding: 15px;
    box-shadow: 0 0 10px lightgrey;
    inline-size: 250px;
    overflow: break-word;
    background-color: var(--mainOverlay);
}

.slider {
    grid-area: slider;
    box-shadow: 0 0 10px lightgrey;
    height: 450px;
    background-color: var(--mainOverlay);
}

.info {
    grid-area: info;
}

.box {
    grid-area: box;
    display: flex;
    justify-content: center;
}

.prompt {
    top: 0;
    grid-area: prompt;
    margin: 50px auto auto auto;
    text-align: center;
}

/* compound */

.box div {
    padding: 10px;
    box-shadow: 0 0 10px lightgrey;
    text-align: center;
    background-color: var(--mainOverlay);
    max-width: 850px;
}

main .root {
    width: 100%;
    display: grid;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-areas:
    'slider slider slider prompt'
    'box box box prompt'
    'info info info prompt';
    grid-gap: 20px;
}


/* media */
@media screen and (max-width: 1050px) {

    main .root  {
        margin-left: 0;
        margin-right: 0;
        grid-template-areas:
        'prompt'
        'slider'
        'box'
        'info ';
    }

    .slider {
        height: 450px;
        min-width: 400px;
    }

}

@media screen and (max-width: 800px) {

    .slider {
        height: 400px;
        min-width: 400px;
    }
    
    .prompt {
        display: flex;
        justify-content: center;
    }
}