<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dedicated Dudes</title>
    <link rel="stylesheet" href="../css/dudes/styles.css">
    <link rel="stylesheet" href="../css/dudes/comingSoon.css">
    <link rel="stylesheet" href="../css/dudes/services.css">
    <link rel="icon" href="../images/handIT_0.ico" type="image/x-icon">
</head>
<body>

    <div class="map-center spaceTop">
        <img class="dudes-logo"  src="../images/handIT_0.png" alt="Dedicated dudes logo">
    </div>

    <div class="map-center">
        <div class="card">
            <h3>About Us</h3>
            <hr>
            <p>
                Welcome to Dedicated Dudes, your trusted destination for all your IT and handyman needs. 
                We pride ourselves on offering top-notch computer software and repair services, ensuring your digital 
                world stays hassle-free. 
                <br>
                <br>
                Our expertise extends beyond IT, as we specialize in professional home theater 
                installations and smart home device setups, keeping you on the cutting edge of modern living. Even minor 
                handywork around the home, our dedicated team is committed to delivering reliable solutions, making your 
                life easier and more enjoyable. With Dedicated Dudes, you can rest assured that your 
                home and tech are in capable hands.
            </p>
        </div>
    </div>

    <div>

        <div class="menu">
            <button id="handle-IT" onclick="updateList('IT')" class="btn-block">IT</button>
            <span class="rightBorder"></span>
            <button id="handle-HT" onclick="updateList('theater')" class="btn-block">Home Theater</button>
            <span class="rightBorder"></span>
            <button id="handle-OJ" onclick="updateList('labor')" class="btn-block">Odd Jobs</button>
        </div>

        <div class="serviceContainer minHeight">
            <table id="serviceList" class="contentBox">
                <tr>
                    <th>Service</th>
                    <th>Base Price</th>
                    <th>Bundle Price</th>
                    <th>Hourly Rate</th>
                </tr>
            </table>
        </div>

        <div class="map-center">
            <div class="card">
                <h3>How to be ready for Appointment</h3>
                <hr>
                <p>
                    To ensure a smooth appointment, please clear the area to be worked in, keep animals away if needed, 
                    and reschedule if you're sick. Have products ready for installation or call us for guidance on the right items. 
                    Our priority is a safe and successful experience for you and our installers.
                    <br>
                    Thank you for choosing us!
                </p>
            </div>

            <div class="card">
                <h3>FAQ</h3>
                <hr>

                <p>
                    <h5>Consultations</h5>
                    Our consultation services come with a nominal charge, reflecting 
                    the expertise and value we bring to the table. The noteworthy aspect 
                    is that the entire consultation cost can be credited towards your 
                    future appointment. This means that your investment in consultations 
                    is not lost; rather, it serves as a credit that can be applied to the 
                    service you iquired about.
                </p>

                <p>
                    <h5>Bundle Prices</h5>
                    Our service offers bundle pricing for your convenience. 
                    With our bundle price option, the base cost is encompassed, 
                    ensuring that you receive the fundamental service at the outset. 
                    As an added advantage, this pricing model allows you to optimize 
                    your order by including additional items of the same category at 
                    an extra cost per item. This streamlined approach ensures that you 
                    benefit from both the core service and the flexibility to add more 
                    items, all while enjoying the convenience of a 
                    unified and inclusive pricing structure.
                </p>
                <br>
                <p>
                    <h5>Hourly Prices</h5>
                    Our service includes a unique pricing structure for jobs labeled 
                    under hourly rates. The initial hour is seamlessly incorporated 
                    into the base price, ensuring that you receive the value you deserve 
                    right from the start. With this approach, you can confidently engage our 
                    services, knowing that the first hour's work is covered within the base rate, 
                    providing transparency and cost-efficiency for every project.
                </p>

            </div>

            <div class="card">
                <h3>Legal Notice</h3>
                <hr>
                <p>
                    Dear valued clients,

                    We want to make it clear that as a Handyman & IT company, we do not operate as licensed contractors 
                    or electrical contractors, nor do we possess any IT certifications. Our primary focus is on providing 
                    general handyman services and basic IT support. It is essential to understand that while our technicians 
                    are skilled in a wide range of home repairs and computer-related tasks, we are not authorized to undertake 
                    specialized electrical or complex IT projects.
                    <br>
                    <br>
                    By scheduling an appointment with us, you acknowledge and accept that our company does not hold the 
                    aforementioned licenses or certifications. However, we assure you that our team is committed to delivering 
                    high-quality services within our expertise.
                    <br>
                    <br>
                    Rest assured, our technicians will work diligently to address your handyman and basic IT needs, ensuring your 
                    satisfaction. We greatly appreciate your trust and want to thank you for allowing us to be of service.
                    <br>
                    <br>
                    If you have any questions or require further information about our services and their limitations,
                    please do not hesitate to contact us. Your understanding and cooperation are highly valued.
                    <br>
                    <br>
                    Sincerely,

                    Dedicated Dudes LLC
                </p>
            </div>
        </div>

        <div class="map-center">
            <div class="content">
                <h1>Contact Us</h1>
                <p>Monday - Sunday</p>
                <p>Call or text to set up appointment</p>

                
                <a href="tel:+1(909)449 - 6232">(909) 449 - 6232</a>
            </div>
        </div>

        

        <div>
            slider
        </div>
        

    </div>

    <footer>
        <div>
            <!-- <a href="/dudes/contact" class="navBtn">contact</a>
            <span class="rightBorder"></span>
            <a href="/dudes/about_us" class="navBtn">about us</a> -->
        </div>

        <p>
            Copyright © Dedicated Dudes LLC 
            <br> 
            created by malikharrison.com All Rights Reserved
        </p>
    </footer>

    <script src="../js/controls.js"></script>
    <script src="../js/dudes/services.js"></script>
</body>
</html>