<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dedicated Dudes Contact</title>
    <link rel="stylesheet" href="../css/dudes/styles.css">
    <link rel="stylesheet" href="../css/dudes/contact.css">
</head>
<body>

    <nav>
        <div class="navFront">
            <a href="" class="navBtn spaceLeft spaceRight">Search Order</a>
        </div>
        <div class="navBack">
            <a href="/dudes">
                <img class="navLogo" src="../images/handIT_0.png" alt="Dedicated dudes logo">
            </a>
            <br>
            Handyman & IT
        </div>
    </nav>

    <main>
        <div class="banner">
            dfsdfs
        </div>

        <div class="content">
            <h1>Contact</h1>
            <p>Hours monday - friday</p>
            <p>Call or text from 10am - 2pm</p>

            <a href="tel:+1(909)891 - 0675">(909) 891-0675</a>
        </div>

    </main>
    
    <footer>
        <div>
            <a href="/dudes/contact" class="navBtn">contact</a>
            <span class="rightBorder"></span>
            <a href="/dudes/about_us" class="navBtn">about us</a>
        </div>

        <p>
            Copyright © Dedicated Dudes LLC 
            <br> 
            created by malikharrison.com All Rights Reserved
        </p>
    </footer>
</body>
</html>