<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dedicated Dudes</title>
    <link rel="stylesheet" href="./css/dudes/styles.css">
    <link rel="stylesheet" href="./css/dudes/landing.css">
    
</head>
<body>
    <nav>
        <div class="navFront">
            <a href="" class="navBtn spaceLeft spaceRight">Search Order</a>
        </div>
        <div class="navBack">
            <a href="/dudes">
                <img class="navLogo" src="./images/handIT_0.png" alt="Dedicated dudes logo">
            </a>
            <br>
            Handyman & IT
        </div>
    </nav>
    <main>

        <div class="root">

            <div class="slider">
                s
            </div>

            <div class="info">
                <a href="/dudes/services?id=IT" class="infoItem planeText">
                    <img class="navLogo" src="./images/pc.png" alt="">
                    <p>IT Services</p>
                </a>

                <a href="/dudes/services?id=theater" class="infoItem planeText">
                    <img class="navLogo" src="./images/theater.png" alt="">
                    <p>Home Theater</p>
                </a>

                <a href="/dudes/services?id=labor" class="infoItem planeText">
                    <img class="navLogo" src="./images/hammer.png" alt="">
                    <p>Labor & Tasks</p>
                </a>
            </div>

            <div class="box">
                <div>
                    <h3>What do we offer</h3>
                    <p class="dialog">
                        Our skilled professionals offer precise and caring handyman services, including furniture assembly, home theater setups, and computer assistance. Transform your space with expert home theater services and rely on our dedicated IT technicians for software, network setups, and more. Expect exceptional service for any project!
                    </p>
                    <h4>Below are some of our services.</h4>
                </div>
            </div>

            <div class="prompt">
                <div class="card">
                    <img class="logo" src="./images/handIT_0.png" alt="">
                    <h1>Handyman & IT</h1>
                    <p class="dialog">
                        At Dedicated Dudes Handyman & IT, we're your one-stop solution for home improvement, entertainment, and technology needs.
                    </p>
                    <form action="/dudes/shop">
                        <button type="submit" class="altBtn">
                            Get Started
                        </button>
                    </form>
                    
                </div>
                
            </div>

        </div>
        
    </main>
    <footer>
        <div>
            <a href="/dudes/contact" class="navBtn">contact</a>
            <span class="rightBorder"></span>
            <a href="/dudes/about_us" class="navBtn">about us</a>
        </div>

        <p>
            Copyright © Dedicated Dudes LLC 
            <br> 
            created by malikharrison.com All Rights Reserved
        </p>
    </footer>
</body>
</html>