<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dedicated Dudes Services</title>
    <link rel="stylesheet" href="../css/dudes/styles.css">
    <link rel="stylesheet" href="../css/dudes/services.css">
</head>
<body>
    <nav>
        <div class="navFront">
            <a href="" class="navBtn spaceLeft spaceRight">Search Order</a>
        </div>
        <div class="navBack">
            <a href="/dudes">
                <img class="navLogo" src="../images/handIT_0.png" alt="Dedicated dudes logo">
            </a>
            <br>
            Handyman & IT
        </div>
    </nav>

    <main>
        <div class="serviceContainer">
            <div class="contentBox">
                <h1 id="title">GOD.</h1>
            </div>
        </div>

        <div class="serviceContainer minHeight">
            <table id="serviceList" class="contentBox">
                <tr>
                    <th>Service</th>
                    <th>Base Price</th>
                    <th>Bundle Price</th>
                    <th>Hourly Rate</th>
                </tr>
            </table>
        </div>

        <div class="info">
            <a href="/dudes/services?id=IT" class="infoItem planeText">
                <img class="navLogo" src="../images/pc.png" alt="">
                <p>IT Services</p>
            </a>

            <a href="/dudes/services?id=theater" class="infoItem planeText">
                <img class="navLogo" src="../images/theater.png" alt="">
                <p>Home Theater</p>
            </a>

            <a href="/dudes/services?id=labor" class="infoItem planeText">
                <img class="navLogo" src="../images/hammer.png" alt="">
                <p>Labor & Tasks</p>
            </a>
        </div>

    </main>

    <footer>
        <div>
            <a href="/dudes/contact" class="navBtn">contact</a>
            <span class="rightBorder"></span>
            <a href="/dudes/about_us" class="navBtn">about us</a>
        </div>

        <p>
            Copyright © Dedicated Dudes LLC 
            <br> 
            created by malikharrison.com All Rights Reserved
        </p>
    </footer>

    <script src="../js/controls.js"></script>
    <script src="../js/dudes/services.js"></script>
    
</body>
</html>