<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dedicated Dudes Shop</title>
    <link rel="stylesheet" href="../css/dudes/styles.css">
    <link rel="stylesheet" href="../css/dudes/shop.css">
</head>
<body>

    <nav>
        <div class="navFront">
            <a href="" class="navBtn spaceLeft spaceRight">Search Order</a>
        </div>
        <div class="navBack">
            <a href="/dudes">
                <img class="navLogo" src="../images/handIT_0.png" alt="Dedicated dudes logo">
            </a>
            <br>
            Handyman & IT
        </div>
    </nav>

    <main>
        <div class="menu">
            <div class="nav">
                <div>
                    Services
                </div>
                <button>
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            </div>

            <div id="menuOne island">
                <!-- menu 1 -->
                dfd
            </div>

            <div id="menuTwo island">
                <!-- menu 2 -->dfd
            </div>

            <div id="menuThree island">
                <!-- menu 3 -->
            </div>
        </div>

        <div class="cart">
            <div class="nav">
                <div>
                    Cart
                </div>
                <button>
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>

            <div class="nav">
                <div>
                    Total: 
                </div>
                <button>
                    $100.97
                </button>
            </div>

            <button class="btn-submit">
                Checkout
            </button>


        </div>
    </main>
    <script src="https://kit.fontawesome.com/601ae45564.js" crossorigin="anonymous"></script>
</body>
</html>